
/* 
    @filename       fm-css-framework-1.0.css
    @date           27.12.12
    @author         fmsoft
    @description    A multipurpose css framework on component based
    @see            https://github.com/fmsoft/fm-css-framework
*/

/*------------ Buttons ---------------- */

.fmButton {
    font-size:12px;
    text-decoration:none;
    width:auto;
    vertical-align:top;
    padding:2px 22px;
    font-weight:bold;
    font-family:helvetica;
}

.fmButtonGreen {
    background: -moz-linear-gradient(top, #afd47b 0, #afd47b 1px, #8abf3e 1px, #6aa31a 100%);
    background: -ms-linear-gradient(top, #afd47b 0%,#8abf3e 60%,#6aa31a 100%);
    background: -o-linear-gradient(top, #afd47b 0, #afd47b 1px, #8abf3e 1px, #6aa31a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #afd47b), color-stop(5%, #afd47b), color-stop(5%, #8abf3e), color-stop(100%, #6aa31a));
    background: linear-gradient(top, #afd47b 0%,#afd47b 1px,#8abf3e 1px,#6aa31a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8abf3e', endColorstr='#6aa31a',GradientType=0 );	
    border:1px solid #669933;
    color: #FFF;
}

.fmButtonGreen:hover {
    background: -moz-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649e15 1px, #5d8429 100%);
    background: -ms-linear-gradient(top, #94bd5b 0%,#649e15 60%,#5d8429 100%);
    background: -o-linear-gradient(top, #94bd5b 0, #94bd5b 1px, #649e15 1px, #5d8429 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #94bd5b), color-stop(5%, #94bd5b), color-stop(5%, #649e15), color-stop(100%, #5d8429));
    background: linear-gradient(top, #94bd5b 0%,#94bd5b 1px,#649e15 1px,#5d8429 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#649e15', endColorstr='#5d8429',GradientType=0 );	
    cursor:pointer;
}

.fmButtonGreen:active{
    background: -moz-linear-gradient(top, #5d832a 0, #5d832a 1px, #5e842b 1px, #669833 100%);
    background: -ms-linear-gradient(top, #5d832a 0%,#5e842b 60%,#669833 100%);
    background: -o-linear-gradient(top, #5d832a 0, #5d832a 1px, #5e842b 1px, #669833 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d832a), color-stop(5%, #5d832a), color-stop(5%, #5e842b), color-stop(100%, #669833));
    background: linear-gradient(top, #5d832a 0%,#5d832a 1px,#5e842b 1px,#669833 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e842b', endColorstr='#669833',GradientType=0 );	
    cursor:pointer;
}
