
/* 
    @filename       fm-css-framework-1.0.css
    @date           27.12.12
    @author         fmsoft
    @description    A multipurpose css framework on component based
    @see            https://github.com/fmsoft/fm-css-framework
*/

/*------------ Buttons ---------------- */

.fmButton {
    font-size:12px;
    text-decoration:none;
    width:auto;
    vertical-align:top;
    padding:2px 22px;
    font-weight:bold;
    font-family:helvetica;
}

.fmButtonRed {
    background: -moz-linear-gradient(top, #d06f6f 0, #d06f6f 1px, #cb6666 1px, #a40101 100%);
    background: -ms-linear-gradient(top, #d06f6f 0%,#cb6666 60%,#a40101 100%);
    background: -o-linear-gradient(top, #d06f6f 0, #d06f6f 1px, #cb6666 1px, #a40101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d06f6f), color-stop(5%, #d06f6f), color-stop(5%, #cb6666), color-stop(100%, #a40101));
    background: linear-gradient(top, #d06f6f 0%,#d06f6f 1px,#cb6666 1px,#a40101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb6666', endColorstr='#a40101',GradientType=0 );	
    border:1px solid #b62121;
    color: #FFF;
}

.fmButtonRed:hover {
    background: -moz-linear-gradient(top, #d06f6f 0, #d06f6f 1px, #ba3636 1px, #a70d0d 100%);
    background: -ms-linear-gradient(top, #d06f6f 0%,#ba3636 60%,#a70d0d 100%);
    background: -o-linear-gradient(top, #d06f6f 0, #d06f6f 1px, #a70d0d 1px, #a70d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d06f6f), color-stop(5%, #d06f6f), color-stop(5%, #a70d0d), color-stop(100%, #a70d0d));
    background: linear-gradient(top, #d06f6f 0%,#d06f6f 1px,#a70d0d 1px,#a70d0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a70d0d', endColorstr='#a70d0d',GradientType=0 );	
    cursor:pointer;
}

.fmButtonRed:active {
    background: -moz-linear-gradient(top, #a40101 0, #a40101 1px, #a40101 1px, #cb6666 100%);
    background: -ms-linear-gradient(top, #a40101 0%,#a40101 60%,#cb6666 100%);
    background: -o-linear-gradient(top, #a40101 0, #a40101 1px, #cb6666 1px, #cb6666 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a40101), color-stop(5%, #a40101), color-stop(5%, #cb6666), color-stop(100%, #cb6666));
    background: linear-gradient(top, #a40101 0%,#a40101 1px,#a40101 1px,#cb6666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a40101', endColorstr='#cb6666',GradientType=0 );	
    cursor:pointer;
}

