/* 
    Document   : fmIcons
    Created on : 08.Oca.2013, 14:22:42
    Author     : alifatih
    Description:
*/

.fmIconHome, .fmIconHome2, .fmIconHome3,.fmIconOffice,.fmIconNewspaper,.fmIconPencil,.fmIconPencil2,.fmIconQuill,.fmIconPen,.fmIconBlog,.fmIconDroplet,.fmIconPaintFormat,.fmIconImage,.fmIconImage2,.fmIconImages,.fmIconCamera,.fmIconMusic,.fmIconHeadphones,.fmIconPlay,.fmIconFilm,.fmIconCamera2,.fmIconDice,.fmIconPacman,.fmIconSpades,.fmIconClubs,.fmIconDiamonds,.fmIconPawn,.fmIconBullhorn,.fmIconConnection,.fmIconPodcast,.fmIconFeed,.fmIconBook,.fmIconBooks,.fmIconLibrary,.fmIconFile,.fmIconProfile,.fmIconFile2,.fmIconFile3,.fmIconFile4,.fmIconCopy,.fmIconCopy2,.fmIconCopy3,.fmIconPaste,.fmIconPaste2,.fmIconPaste3,.fmIconStack,.fmIconFolder,.fmIconFolderOpen,.fmIconTag,.fmIconTags,.fmIconBarcode,.fmIconQrcode,.fmIconTicket,.fmIconCart,.fmIconCart2,.fmIconCart3,.fmIconCoin,.fmIconCredit,.fmIconCalculate,.fmIconSupport,.fmIconPhone,.fmIconPhoneHangUp,.fmIconAddressBook,.fmIconNotebook,.fmIconEnvelop,.fmIconPushpin,.fmIconLocation,.fmIconLocation2,.fmIconCompass,.fmIconMap,.fmIconMap2,.fmIconHistory,.fmIconClock,.fmIconClock2,.fmIconAlarm,.fmIconAlarm2,.fmIconBell,.fmIconStopwatch,.fmIconCalendar,.fmIconCalendar2,.fmIconPrint,.fmIconKeyboard,.fmIconScreen,.fmIconLaptop,.fmIconMobile,.fmIconMobile2,.fmIconTablet,.fmIconTv,.fmIconCabinet,.fmIconDrawer,.fmIconDrawer2,.fmIconDrawer3,.fmIconBoxAdd,.fmIconBoxRemove,.fmIconDownload,.fmIconUpload,.fmIconDisk,.fmIconStorage,.fmIconUndo,.fmIconRedo,.fmIconFlip,.fmIconFlip2,.fmIconUndo2,.fmIconRedo2,.fmIconForward,.fmIconReply,.fmIconBubble,.fmIconBubbles,.fmIconBubbles2,.fmIconBubble2,.fmIconBubbles3,.fmIconBubbles4,.fmIconUser,.fmIconUsers,.fmIconUser2,.fmIconUsers2,.fmIconUser3,.fmIconUser4,.fmIconQuotesLeft,.fmIconBusy,.fmIconSpinner,.fmIconSpinner2,.fmIconSpinner3,.fmIconSpinner4,.fmIconSpinner5,.fmIconSpinner6,.fmIconBinoculars,.fmIconSearch,.fmIconZoomIn,.fmIconZoomOut,.fmIconExpand,.fmIconContract,.fmIconExpand2,.fmIconContract2,.fmIconKey,.fmIconKey2,.fmIconLock,.fmIconLock2,.fmIconUnlocked,.fmIconWrench,.fmIconSettings,.fmIconEqualizer,.fmIconCog,.fmIconCogs,.fmIconCog2,.fmIconHammer,.fmIconWand,.fmIconAid,.fmIconBug,.fmIconPie,.fmIconStats,.fmIconBars,.fmIconBars2,.fmIconGift,.fmIconTrophy,.fmIconGlass,.fmIconMug,.fmIconFood,.fmIconLeaf,.fmIconRocket,.fmIconMeter,.fmIconMeter2,.fmIconDashboard,.fmIconHammer2,.fmIconFire,.fmIconLab,.fmIconMagnet,.fmIconRemove,.fmIconRemove2,.fmIconBriefcase,.fmIconAirplane,.fmIconTruck,.fmIconRoad,.fmIconAccessibility,.fmIconTarget,.fmIconShield,.fmIconLightning,.fmIconSwitch,.fmIconPowerCord,.fmIconSignup,.fmIconList,.fmIconList2,.fmIconNumberedList,.fmIconMenu,.fmIconMenu2,.fmIconTree,.fmIconCloud,.fmIconCloudDownload,.fmIconCloudUpload,.fmIconDownload2,.fmIconUpload2,.fmIconDownload3,.fmIconUpload3,.fmIconGlobe,.fmIconEarth,.fmIconLink,.fmIconFlag,.fmIconAttachment,.fmIconEye,.fmIconEyeBlocked,.fmIconEye2,.fmIconBookmark,.fmIconBookmarks,.fmIconBrightnessMedium,.fmIconBrightnessContrast,.fmIconContrast,.fmIconStar,.fmIconStar2,.fmIconStar3,.fmIconHeart,.fmIconHeart2,.fmIconHeartBroken,.fmIconThumbsUp,.fmIconThumbsUp2,.fmIconHappy,.fmIconHappy2,.fmIconSmiley,.fmIconSmiley2,.fmIconTongue,.fmIconTongue2,.fmIconSad,.fmIconSad2,.fmIconWink,.fmIconWink2,.fmIconGrin,.fmIconGrin2,.fmIconCool,.fmIconCool2,.fmIconAngry,.fmIconAngry2,.fmIconEvil,.fmIconEvil2,.fmIconShocked,.fmIconShocked2,.fmIconConfused,.fmIconConfused2,.fmIconNeutral,.fmIconNeutral2,.fmIconWondering,.fmIconWondering2,.fmIconPointUp,.fmIconPointRight,.fmIconPointDown,.fmIconPointLeft,.fmIconWarning,.fmIconNotification,.fmIconQuestion,.fmIconInfo,.fmIconInfo2,.fmIconBlocked,.fmIconCancelCircle,.fmIconCheckmarkCircle,.fmIconSpam,.fmIconClose,.fmIconCheckmark,.fmIconCheckmark2,.fmIconSpellCheck,.fmIconMinus,.fmIconPlus,.fmIconEnter,.fmIconExit,.fmIconPlay2,.fmIconPause,.fmIconStop,.fmIconBackward,.fmIconForward2,.fmIconPlay3,.fmIconPause2,.fmIconStop2,.fmIconBackward2,.fmIconForward3,.fmIconFirst,.fmIconLast,.fmIconPrevious,.fmIconNext,.fmIconEject,.fmIconVolumeHigh,.fmIconVolumeMedium,.fmIconVolumeLow,.fmIconVolumeMute,.fmIconVolumeMute2,.fmIconVolumeIncrease,.fmIconVolumeDecrease,.fmIconLoop,.fmIconLoop2,.fmIconLoop3,.fmIconShuffle,.fmIconArrowUpLeft,.fmIconArrowUp,.fmIconArrowUpRight,.fmIconArrowRight,.fmIconArrowDownRight,.fmIconArrowDown,.fmIconArrowDownLeft,.fmIconArrowLeft,.fmIconArrowUpLeft2,.fmIconArrowUp2,.fmIconArrowUpRight2,.fmIconArrowRight2,.fmIconArrowDownRight2,.fmIconArrowDown2,.fmIconArrowDownLeft2,.fmIconArrowLeft2,.fmIconArrowUpLeft3,.fmIconArrowUp3,.fmIconArrowUpRight3,.fmIconArrowRight3,.fmIconArrowDownRight3,.fmIconArrowDown3,.fmIconArrowDownLeft3,.fmIconArrowLeft3,.fmIconTab,.fmIconCheckboxChecked,.fmIconCheckboxUnchecked,.fmIconCheckboxPartial,.fmIconRadioChecked,.fmIconRadioUnchecked,.fmIconCrop,.fmIconScissors,.fmIconFilter,.fmIconFilter2,.fmIconFont,.fmIconTextHeight,.fmIconTextWidth,.fmIconBold,.fmIconUnderline,.fmIconItalic,.fmIconStrikethrough,.fmIconOmega,.fmIconSigma,.fmIconTable,.fmIconTable2,.fmIconInsertTemplate,.fmIconPilcrow,.fmIconLeftToRight,.fmIconRightToLeft,.fmIconParagraphLeft,.fmIconParagraphCenter,.fmIconParagraphRight,.fmIconParagraphJustify,.fmIconParagraphLeft2,.fmIconParagraphCenter2,.fmIconParagraphRight2,.fmIconParagraphJustify2,.fmIconIndentIncrease,.fmIconIndentDecrease,.fmIconNewTab,.fmIconEmbed,.fmIconCode,.fmIconConsole,.fmIconShare,.fmIconMail,.fmIconMail2,.fmIconMail3,.fmIconMail4,.fmIconGoogle,.fmIconGooglePlus,.fmIconGooglePlus2,.fmIconGooglePlus3,.fmIconGooglePlus4,.fmIconGoogleDrive,.fmIconFacebook,.fmIconFacebook2,.fmIconFacebook3,.fmIconInstagram,.fmIconTwitter,.fmIconTwitter2,.fmIconTwitter3,.fmIconFeed2,.fmIconFeed3,.fmIconFeed4,.fmIconYoutube,.fmIconYoutube2,.fmIconVimeo,.fmIconVimeo2,.fmIconVimeo3,.fmIconLanyrd,.fmIconFlickr,.fmIconFlickr2,.fmIconFlickr3,.fmIconFlickr4,.fmIconPicassa,.fmIconPicassa2,.fmIconDribbble,.fmIconDribbble2,.fmIconDribbble3,.fmIconForrst,.fmIconForrst2,.fmIconDeviantart,.fmIconDeviantart2,.fmIconSteam,.fmIconSteam2,.fmIconGithub,.fmIconGithub2,.fmIconGithub3,.fmIconGithub4,.fmIconGithub5,.fmIconWordpress,.fmIconWordpress2,.fmIconJoomla,.fmIconBlogger,.fmIconBlogger2,.fmIconTumblr,.fmIconTumblr2,.fmIconYahoo,.fmIconTux,.fmIconApple,.fmIconFinder,.fmIconAndroid,.fmIconWindows,.fmIconWindows8,.fmIconSoundcloud,.fmIconSoundcloud2,.fmIconSkype,.fmIconReddit,.fmIconLinkedin,.fmIconLastfm,.fmIconLastfm2,.fmIconDelicious,.fmIconStumbleupon,.fmIconStumbleupon2,.fmIconStackoverflow,.fmIconPinterest,.fmIconPinterest2,.fmIconXing,.fmIconXing2,.fmIconFlattr,.fmIconFoursquare,.fmIconFoursquare2,.fmIconPaypal,.fmIconPaypal2,.fmIconPaypal3,.fmIconYelp,.fmIconLibreoffice,.fmIconFilePdf,.fmIconFileOpenoffice,.fmIconFileWord,.fmIconFileExcel,.fmIconFileZip,.fmIconFilePowerpoint,.fmIconFileXml,.fmIconFileCss,.fmIconHtml5,.fmIconHtml52,.fmIconCss3,.fmIconChrome,.fmIconFirefox,.fmIconIE,.fmIconOpera,.fmIconSafari,.fmIconIcoMoon,.fmIconWarning2,.fmIconCloud2,.fmIconLocked,.fmIconInbox,.fmIconComment,.fmIconMic,.fmIconEnvelope,.fmIconBriefcase2,.fmIconCart4,.fmIconContrast2,.fmIconClock3,.fmIconUser5,.fmIconCog3,.fmIconMusic2,.fmIconTwitter4,.fmIconPencil3,.fmIconFrame,.fmIconSwitch2,.fmIconStar4,.fmIconKey3,.fmIconChart,.fmIconApple2,.fmIconFile5,.fmIconPlus2,.fmIconMinus2,.fmIconPicture,.fmIconFolder2,.fmIconCamera3,.fmIconSearch2,.fmIconDribbble4,.fmIconForrst3,.fmIconFeed5,.fmIconBlocked2,.fmIconTarget2,.fmIconPlay4,.fmIconPause3,.fmIconBug2,.fmIconConsole2,.fmIconFilm2,.fmIconType,.fmIconHome4,.fmIconEarth2,.fmIconLocation3,.fmIconInfo3,.fmIconEye3,.fmIconHeart3,.fmIconBookmark2,.fmIconWrench2,.fmIconCalendar3,.fmIconWindow,.fmIconMonitor,.fmIconMobile3,.fmIconDroplet2,.fmIconMouse,.fmIconRefresh,.fmIconLocation4,.fmIconTag2,.fmIconPhone2,.fmIconStar5,.fmIconPointer,.fmIconThumbsUp3,.fmIconThumbsDown,.fmIconHeadphones2,.fmIconMove,.fmIconCheckmark3,.fmIconCancel,.fmIconSkype2,.fmIconGift2,.fmIconCone,.fmIconAlarm3,.fmIconCoffee,.fmIconBasket,.fmIconFlag2,.fmIconIpod,.fmIconTrashcan,.fmIconBolt,.fmIconAmpersand,.fmIconCompass2,.fmIconList3,.fmIconGrid,.fmIconVolume,.fmIconVolume2,.fmIconStats2,.fmIconTarget3,.fmIconForward4,.fmIconPaperclip,.fmIconKeyboard2,.fmIconCrop2,.fmIconFloppy,.fmIconFilter3,.fmIconTrophy2,.fmIconDiary,.fmIconAddressBook2,.fmIconStop3,.fmIconSmiley3,.fmIconShit,.fmIconBookmark3,.fmIconCamera4,.fmIconLamp,.fmIconDisk2,.fmIconButton,.fmIconDatabase,.fmIconCreditCard,.fmIconAtom,.fmIconWinsows,.fmIconTarget4,.fmIconBattery,.fmIconCode2,.fmIconSunrise,.fmIconSun,.fmIconMoon,.fmIconSun2,.fmIconWindy,.fmIconWind,.fmIconSnowflake,.fmIconCloudy,.fmIconCloud3,.fmIconWeather,.fmIconWeather2,.fmIconWeather3,.fmIconLines,.fmIconCloud4,.fmIconLightning2,.fmIconLightning3,.fmIconRainy,.fmIconRainy2,.fmIconWindy2,.fmIconWindy3,.fmIconSnowy,.fmIconSnowy2,.fmIconSnowy3,.fmIconWeather4,.fmIconCloudy2,.fmIconCloud5,.fmIconLightning4,.fmIconSun3,.fmIconMoon2,.fmIconCloudy3,.fmIconCloud6,.fmIconCloud7,.fmIconLightning5,.fmIconRainy3,.fmIconRainy4,.fmIconWindy4,.fmIconWindy5,.fmIconSnowy4,.fmIconSnowy5,.fmIconWeather5,.fmIconCloudy4,.fmIconLightning6,.fmIconThermometer,.fmIconCompass3,.fmIconNone,.fmIconCelsius,.fmIconFahrenheit,.fmIconChat,.fmIconChatAltStroke,.fmIconChatAltFill,.fmIconCommentAlt1Stroke,.fmIconCommentAlt1Fill,.fmIconCommentStroke,.fmIconCommentFill,.fmIconCommentAlt2Stroke,.fmIconCommentAlt2Fill,.fmIconCheckmark4,.fmIconCheckAlt,.fmIconX,.fmIconXAltxAlt,.fmIconDenied,.fmIconCursor,.fmIconRss,.fmIconRssAlt,.fmIconWrench3,.fmIconDial,.fmIconCog4,.fmIconCalendar4,.fmIconCalendarAltStroke,.fmIconCalendarAltFill,.fmIconShare2,.fmIconMail5,.fmIconHeartStroke,.fmIconHeartFill,.fmIconMovie,.fmIconDocumentAltStroke,.fmIconDocumentAltFill,.fmIconDocumentStroke,.fmIconDocumentFill,.fmIconPlus3,.fmIconPlusAlt,.fmIconMinus3,.fmIconMinusAlt,.fmIconPin,.fmIconLink2,.fmIconBolt2,.fmIconMove2,.fmIconMoveAlt1,.fmIconMoveAlt2,.fmIconEqualizer2,.fmIconAwardFill,.fmIconAwardStroke,.fmIconMagnifyingGlass,.fmIconTrashStroke,.fmIconTrashFill,.fmIconBeakerAlt,.fmIconBeaker,.fmIconKeyStroke,.fmIconKeyFill,.fmIconNewWindow,.fmIconLightbulb,.fmIconSpinAlt,.fmIconSpin,.fmIconCurvedArrow,.fmIconUndo3,.fmIconReload,.fmIconReloadAlt,.fmIconLoop4,.fmIconLoopAlt1,.fmIconLoopAlt2,.fmIconLoopAlt3,.fmIconLoopAlt4,.fmIconTransfer,.fmIconMoveVertical,.fmIconMoveVerticalAlt1,.fmIconMoveVerticalAlt2,.fmIconMoveHorizontal,.fmIconMoveHorizontalAlt1,.fmIconMoveHorizontalAlt2,.fmIconArrowLeft4,.fmIconArrowLeftAlt1,.fmIconArrowLeftAlt2,.fmIconArrowRight4,.fmIconArrowRightAlt1,.fmIconArrowRightAlt2,.fmIconArrowUp4,.fmIconArrowUpAlt1,.fmIconArrowUpAlt2,.fmIconArrowDown4,.fmIconArrowDownAlt1,.fmIconArrowDownAlt2,.fmIconCd,.fmIconSteeringWheel,.fmIconMicrophone,.fmIconHeadphones3,.fmIconVolume3,.fmIconVolumeMute3,.fmIconPlay5,.fmIconPause4,.fmIconStop4,.fmIconEject2,.fmIconFirst2,.fmIconLast2,.fmIconPlayAlt,.fmIconFullscreenExit,.fmIconFullscreenExitAlt,.fmIconFullscreen,.fmIconFullscreenAlt,.fmIconIphone,.fmIconBatteryEmpty,.fmIconBatteryHalf,.fmIconBatteryFull,.fmIconBatteryCharging,.fmIconCompass4,.fmIconBox,.fmIconFolderStroke,.fmIconFolderFill,.fmIconAt,.fmIconAmpersand2,.fmIconInfo4,.fmIconQuestionMark,.fmIconPilcrow2,.fmIconHash,.fmIconLeftQuote,.fmIconRightQuote,.fmIconLeftQuoteAlt,.fmIconRightQuoteAlt,.fmIconArticle,.fmIconReadMore,.fmIconList4,.fmIconListNested,.fmIconBook2,.fmIconBookAlt,.fmIconBookAlt2,.fmIconPen2,.fmIconPenAltStroke,.fmIconPenAltFill,.fmIconPenAlt2,.fmIconBrush,.fmIconBrushAlt,.fmIconEyedropper,.fmIconLayersAlt,.fmIconLayers,.fmIconImage3,.fmIconCamera5,.fmIconAperture,.fmIconApertureAlt,.fmIconChart2,.fmIconChartAlt,.fmIconBars3,.fmIconBarsAlt,.fmIconEye4,.fmIconUser6,.fmIconHome5,.fmIconClock4,.fmIconLockStroke,.fmIconLockFill,.fmIconUnlockStroke,.fmIconUnlockFill,.fmIconTagStroke,.fmIconTagFill,.fmIconSunStroke,.fmIconSunFill,.fmIconMoonStroke,.fmIconMoonFill,.fmIconCloud8,.fmIconRain,.fmIconUmbrella,.fmIconStar6,.fmIconMapPinStroke,.fmIconMapPinFill,.fmIconMapPinAlt,.fmIconTarget5,.fmIconDownload4,.fmIconUpload4,.fmIconCloudDownload2,.fmIconCloudUpload2,.fmIconFork,.fmIconPaperclip2 {

	width: 16px;
	height: 16px;
	background-image: url(img/fm-sprites.png);
	background-repeat: no-repeat;
        margin: 0 0 5px 0;
}
.fmIconHome {
	background-position: 0 0;
}
.fmIconHome2 {
	background-position: -32px 0;
}
.fmIconHome3 {
	background-position: -64px 0;
}
.fmIconOffice {
	background-position: -96px 0;
}
.fmIconNewspaper {
	background-position: -128px 0;
}
.fmIconPencil {
	background-position: -160px 0;
}
.fmIconPencil2 {
	background-position: -192px 0;
}
.fmIconQuill {
	background-position: -224px 0;
}
.fmIconPen {
	background-position: -256px 0;
}
.fmIconBlog {
	background-position: -288px 0;
}
.fmIconDroplet {
	background-position: -320px 0;
}
.fmIconPaintFormat {
	background-position: -352px 0;
}
.fmIconImage {
	background-position: -384px 0;
}
.fmIconImage2 {
	background-position: -416px 0;
}
.fmIconImages {
	background-position: -448px 0;
}
.fmIconCamera {
	background-position: -480px 0;
}
.fmIconMusic {
	background-position: -512px 0;
}
.fmIconHeadphones {
	background-position: -544px 0;
}
.fmIconPlay {
	background-position: -576px 0;
}
.fmIconFilm {
	background-position: -608px 0;
}
.fmIconCamera2 {
	background-position: -640px 0;
}
.fmIconDice {
	background-position: -672px 0;
}
.fmIconPacman {
	background-position: -704px 0;
}
.fmIconSpades {
	background-position: -736px 0;
	width: 20px;
}
.fmIconClubs {
	background-position: -768px 0;
}
.fmIconDiamonds {
	background-position: -800px 0;
}
.fmIconPawn {
	background-position: -832px 0;
}
.fmIconBullhorn {
	background-position: -864px 0;
}
.fmIconConnection {
	background-position: -896px 0;
	width: 20px;
}
.fmIconPodcast {
	background-position: -928px 0;
}
.fmIconFeed {
	background-position: -960px 0;
}
.fmIconBook {
	background-position: -992px 0;
}
.fmIconBooks {
	background-position: 0 -32px;
}
.fmIconLibrary {
	background-position: -32px -32px;
}
.fmIconFile {
	background-position: -64px -32px;
}
.fmIconProfile {
	background-position: -96px -32px;
}
.fmIconFile2 {
	background-position: -128px -32px;
}
.fmIconFile3 {
	background-position: -160px -32px;
}
.fmIconFile4 {
	background-position: -192px -32px;
}
.fmIconCopy {
	background-position: -224px -32px;
}
.fmIconCopy2 {
	background-position: -256px -32px;
}
.fmIconCopy3 {
	background-position: -288px -32px;
}
.fmIconPaste {
	background-position: -320px -32px;
}
.fmIconPaste2 {
	background-position: -352px -32px;
}
.fmIconPaste3 {
	background-position: -384px -32px;
}
.fmIconStack {
	background-position: -416px -32px;
}
.fmIconFolder {
	background-position: -448px -32px;
}
.fmIconFolderOpen {
	background-position: -480px -32px;
}
.fmIconTag {
	background-position: -512px -32px;
}
.fmIconTags {
	background-position: -544px -32px;
	width: 17px;
}
.fmIconBarcode {
	background-position: -576px -32px;
}
.fmIconQrcode {
	background-position: -608px -32px;
}
.fmIconTicket {
	background-position: -640px -32px;
}
.fmIconCart {
	background-position: -672px -32px;
}
.fmIconCart2 {
	background-position: -704px -32px;
}
.fmIconCart3 {
	background-position: -736px -32px;
}
.fmIconCoin {
	background-position: -768px -32px;
}
.fmIconCredit {
	background-position: -800px -32px;
}
.fmIconCalculate {
	background-position: -832px -32px;
}
.fmIconSupport {
	background-position: -864px -32px;
}
.fmIconPhone {
	background-position: -896px -32px;
}
.fmIconPhoneHangUp {
	background-position: -928px -32px;
}
.fmIconAddressBook {
	background-position: -960px -32px;
}
.fmIconNotebook {
	background-position: -992px -32px;
}
.fmIconEnvelop {
	background-position: 0 -64px;
}
.fmIconPushpin {
	background-position: -32px -64px;
}
.fmIconLocation {
	background-position: -64px -64px;
}
.fmIconLocation2 {
	background-position: -96px -64px;
}
.fmIconCompass {
	background-position: -128px -64px;
}
.fmIconMap {
	background-position: -160px -64px;
}
.fmIconMap2 {
	background-position: -192px -64px;
}
.fmIconHistory {
	background-position: -224px -64px;
	width: 17px;
}
.fmIconClock {
	background-position: -256px -64px;
}
.fmIconClock2 {
	background-position: -288px -64px;
}
.fmIconAlarm {
	background-position: -320px -64px;
}
.fmIconAlarm2 {
	background-position: -352px -64px;
}
.fmIconBell {
	background-position: -384px -64px;
}
.fmIconStopwatch {
	background-position: -416px -64px;
}
.fmIconCalendar {
	background-position: -448px -64px;
}
.fmIconCalendar2 {
	background-position: -480px -64px;
}
.fmIconPrint {
	background-position: -512px -64px;
}
.fmIconKeyboard {
	background-position: -544px -64px;
	width: 18px;
}
.fmIconScreen {
	background-position: -576px -64px;
}
.fmIconLaptop {
	background-position: -608px -64px;
}
.fmIconMobile {
	background-position: -640px -64px;
}
.fmIconMobile2 {
	background-position: -672px -64px;
}
.fmIconTablet {
	background-position: -704px -64px;
}
.fmIconTv {
	background-position: -736px -64px;
}
.fmIconCabinet {
	background-position: -768px -64px;
}
.fmIconDrawer {
	background-position: -800px -64px;
}
.fmIconDrawer2 {
	background-position: -832px -64px;
}
.fmIconDrawer3 {
	background-position: -864px -64px;
}
.fmIconBoxAdd {
	background-position: -896px -64px;
}
.fmIconBoxRemove {
	background-position: -928px -64px;
}
.fmIconDownload {
	background-position: -960px -64px;
}
.fmIconUpload {
	background-position: -992px -64px;
}
.fmIconDisk {
	background-position: 0 -96px;
}
.fmIconStorage {
	background-position: -32px -96px;
}
.fmIconUndo {
	background-position: -64px -96px;
}
.fmIconRedo {
	background-position: -96px -96px;
}
.fmIconFlip {
	background-position: -128px -96px;
}
.fmIconFlip2 {
	background-position: -160px -96px;
}
.fmIconUndo2 {
	background-position: -192px -96px;
}
.fmIconRedo2 {
	background-position: -224px -96px;
}
.fmIconForward {
	background-position: -256px -96px;
}
.fmIconReply {
	background-position: -288px -96px;
}
.fmIconBubble {
	background-position: -320px -96px;
}
.fmIconBubbles {
	background-position: -352px -96px;
	width: 18px;
}
.fmIconBubbles2 {
	background-position: -384px -96px;
	width: 18px;
}
.fmIconBubble2 {
	background-position: -416px -96px;
}
.fmIconBubbles3 {
	background-position: -448px -96px;
	width: 18px;
}
.fmIconBubbles4 {
	background-position: -480px -96px;
	width: 18px;
}
.fmIconUser {
	background-position: -512px -96px;
}
.fmIconUsers {
	background-position: -544px -96px;
}
.fmIconUser2 {
	background-position: -576px -96px;
}
.fmIconUsers2 {
	background-position: -608px -96px;
}
.fmIconUser3 {
	background-position: -640px -96px;
}
.fmIconUser4 {
	background-position: -672px -96px;
}
.fmIconQuotesLeft {
	background-position: -704px -96px;
}
.fmIconBusy {
	background-position: -736px -96px;
}
.fmIconSpinner {
	background-position: -768px -96px;
}
.fmIconSpinner2 {
	background-position: -800px -96px;
}
.fmIconSpinner3 {
	background-position: -832px -96px;
}
.fmIconSpinner4 {
	background-position: -864px -96px;
}
.fmIconSpinner5 {
	background-position: -896px -96px;
}
.fmIconSpinner6 {
	background-position: -928px -96px;
}
.fmIconBinoculars {
	background-position: -960px -96px;
}
.fmIconSearch {
	background-position: -992px -96px;
}
.fmIconZoomIn {
	background-position: 0 -128px;
}
.fmIconZoomOut {
	background-position: -32px -128px;
}
.fmIconExpand {
	background-position: -64px -128px;
}
.fmIconContract {
	background-position: -96px -128px;
}
.fmIconExpand2 {
	background-position: -128px -128px;
}
.fmIconContract2 {
	background-position: -160px -128px;
}
.fmIconKey {
	background-position: -192px -128px;
}
.fmIconKey2 {
	background-position: -224px -128px;
}
.fmIconLock {
	background-position: -256px -128px;
}
.fmIconLock2 {
	background-position: -288px -128px;
}
.fmIconUnlocked {
	background-position: -320px -128px;
}
.fmIconWrench {
	background-position: -352px -128px;
}
.fmIconSettings {
	background-position: -384px -128px;
}
.fmIconEqualizer {
	background-position: -416px -128px;
}
.fmIconCog {
	background-position: -448px -128px;
}
.fmIconCogs {
	background-position: -480px -128px;
}
.fmIconCog2 {
	background-position: -512px -128px;
}
.fmIconHammer {
	background-position: -544px -128px;
}
.fmIconWand {
	background-position: -576px -128px;
}
.fmIconAid {
	background-position: -608px -128px;
}
.fmIconBug {
	background-position: -640px -128px;
}
.fmIconPie {
	background-position: -672px -128px;
}
.fmIconStats {
	background-position: -704px -128px;
}
.fmIconBars {
	background-position: -736px -128px;
}
.fmIconBars2 {
	background-position: -768px -128px;
}
.fmIconGift {
	background-position: -800px -128px;
}
.fmIconTrophy {
	background-position: -832px -128px;
}
.fmIconGlass {
	background-position: -864px -128px;
}
.fmIconMug {
	background-position: -896px -128px;
}
.fmIconFood {
	background-position: -928px -128px;
}
.fmIconLeaf {
	background-position: -960px -128px;
	height: 15px;
}
.fmIconRocket {
	background-position: -992px -128px;
}
.fmIconMeter {
	background-position: 0 -160px;
}
.fmIconMeter2 {
	background-position: -32px -160px;
}
.fmIconDashboard {
	background-position: -64px -160px;
}
.fmIconHammer2 {
	background-position: -96px -160px;
}
.fmIconFire {
	background-position: -128px -160px;
	width: 18px;
}
.fmIconLab {
	background-position: -160px -160px;
}
.fmIconMagnet {
	background-position: -192px -160px;
}
.fmIconRemove {
	background-position: -224px -160px;
}
.fmIconRemove2 {
	background-position: -256px -160px;
}
.fmIconBriefcase {
	background-position: -288px -160px;
}
.fmIconAirplane {
	background-position: -320px -160px;
}
.fmIconTruck {
	background-position: -352px -160px;
}
.fmIconRoad {
	background-position: -384px -160px;
}
.fmIconAccessibility {
	background-position: -416px -160px;
}
.fmIconTarget {
	background-position: -448px -160px;
}
.fmIconShield {
	background-position: -480px -160px;
}
.fmIconLightning {
	background-position: -512px -160px;
}
.fmIconSwitch {
	background-position: -544px -160px;
}
.fmIconPowerCord {
	background-position: -576px -160px;
}
.fmIconSignup {
	background-position: -608px -160px;
}
.fmIconList {
	background-position: -640px -160px;
}
.fmIconList2 {
	background-position: -672px -160px;
}
.fmIconNumberedList {
	background-position: -704px -160px;
}
.fmIconMenu {
	background-position: -736px -160px;
}
.fmIconMenu2 {
	background-position: -768px -160px;
}
.fmIconTree {
	background-position: -800px -160px;
}
.fmIconCloud {
	background-position: -832px -160px;
}
.fmIconCloudDownload {
	background-position: -864px -160px;
}
.fmIconCloudUpload {
	background-position: -896px -160px;
}
.fmIconDownload2 {
	background-position: -928px -160px;
}
.fmIconUpload2 {
	background-position: -960px -160px;
}
.fmIconDownload3 {
	background-position: -992px -160px;
}
.fmIconUpload3 {
	background-position: 0 -192px;
}
.fmIconGlobe {
	background-position: -32px -192px;
}
.fmIconEarth {
	background-position: -64px -192px;
}
.fmIconLink {
	background-position: -96px -192px;
	width: 17px;
	height: 17px;
}
.fmIconFlag {
	background-position: -128px -192px;
}
.fmIconAttachment {
	background-position: -160px -192px;
	height: 15px;
}
.fmIconEye {
	background-position: -192px -192px;
}
.fmIconEyeBlocked {
	background-position: -224px -192px;
}
.fmIconEye2 {
	background-position: -256px -192px;
}
.fmIconBookmark {
	background-position: -288px -192px;
}
.fmIconBookmarks {
	background-position: -320px -192px;
}
.fmIconBrightnessMedium {
	background-position: -352px -192px;
}
.fmIconBrightnessContrast {
	background-position: -384px -192px;
}
.fmIconContrast {
	background-position: -416px -192px;
}
.fmIconStar {
	background-position: -448px -192px;
}
.fmIconStar2 {
	background-position: -480px -192px;
}
.fmIconStar3 {
	background-position: -512px -192px;
}
.fmIconHeart {
	background-position: -544px -192px;
}
.fmIconHeart2 {
	background-position: -576px -192px;
}
.fmIconHeartBroken {
	background-position: -608px -192px;
}
.fmIconThumbsUp {
	background-position: -640px -192px;
}
.fmIconThumbsUp2 {
	background-position: -672px -192px;
}
.fmIconHappy {
	background-position: -704px -192px;
}
.fmIconHappy2 {
	background-position: -736px -192px;
}
.fmIconSmiley {
	background-position: -768px -192px;
}
.fmIconSmiley2 {
	background-position: -800px -192px;
}
.fmIconTongue {
	background-position: -832px -192px;
}
.fmIconTongue2 {
	background-position: -864px -192px;
}
.fmIconSad {
	background-position: -896px -192px;
}
.fmIconSad2 {
	background-position: -928px -192px;
}
.fmIconWink {
	background-position: -960px -192px;
}
.fmIconWink2 {
	background-position: -992px -192px;
}
.fmIconGrin {
	background-position: 0 -224px;
}
.fmIconGrin2 {
	background-position: -32px -224px;
}
.fmIconCool {
	background-position: -64px -224px;
}
.fmIconCool2 {
	background-position: -96px -224px;
}
.fmIconAngry {
	background-position: -128px -224px;
}
.fmIconAngry2 {
	background-position: -160px -224px;
}
.fmIconEvil {
	background-position: -192px -224px;
	height: 16px;
}
.fmIconEvil2 {
	background-position: -224px -224px;
	height: 16px;
}
.fmIconShocked {
	background-position: -256px -224px;
}
.fmIconShocked2 {
	background-position: -288px -224px;
}
.fmIconConfused {
	background-position: -320px -224px;
}
.fmIconConfused2 {
	background-position: -352px -224px;
}
.fmIconNeutral {
	background-position: -384px -224px;
}
.fmIconNeutral2 {
	background-position: -416px -224px;
}
.fmIconWondering {
	background-position: -448px -224px;
}
.fmIconWondering2 {
	background-position: -480px -224px;
}
.fmIconPointUp {
	background-position: -512px -224px;
}
.fmIconPointRight {
	background-position: -544px -224px;
}
.fmIconPointDown {
	background-position: -576px -224px;
}
.fmIconPointLeft {
	background-position: -608px -224px;
}
.fmIconWarning {
	background-position: -640px -224px;
	width: 17px;
}
.fmIconNotification {
	background-position: -672px -224px;
}
.fmIconQuestion {
	background-position: -704px -224px;
}
.fmIconInfo {
	background-position: -736px -224px;
}
.fmIconInfo2 {
	background-position: -768px -224px;
}
.fmIconBlocked {
	background-position: -800px -224px;
}
.fmIconCancelCircle {
	background-position: -832px -224px;
}
.fmIconCheckmarkCircle {
	background-position: -864px -224px;
}
.fmIconSpam {
	background-position: -896px -224px;
}
.fmIconClose {
	background-position: -928px -224px;
}
.fmIconCheckmark {
	background-position: -960px -224px;
}
.fmIconCheckmark2 {
	background-position: -992px -224px;
}
.fmIconSpellCheck {
	background-position: 0 -256px;
}
.fmIconMinus {
	background-position: -32px -256px;
}
.fmIconPlus {
	background-position: -64px -256px;
}
.fmIconEnter {
	background-position: -96px -256px;
}
.fmIconExit {
	background-position: -128px -256px;
}
.fmIconPlay2 {
	background-position: -160px -256px;
}
.fmIconPause {
	background-position: -192px -256px;
}
.fmIconStop {
	background-position: -224px -256px;
}
.fmIconBackward {
	background-position: -256px -256px;
}
.fmIconForward2 {
	background-position: -288px -256px;
}
.fmIconPlay3 {
	background-position: -320px -256px;
}
.fmIconPause2 {
	background-position: -352px -256px;
}
.fmIconStop2 {
	background-position: -384px -256px;
}
.fmIconBackward2 {
	background-position: -416px -256px;
}
.fmIconForward3 {
	background-position: -448px -256px;
}
.fmIconFirst {
	background-position: -480px -256px;
}
.fmIconLast {
	background-position: -512px -256px;
}
.fmIconPrevious {
	background-position: -544px -256px;
}
.fmIconNext {
	background-position: -576px -256px;
}
.fmIconEject {
	background-position: -608px -256px;
}
.fmIconVolumeHigh {
	background-position: -640px -256px;
	width: 17px;
}
.fmIconVolumeMedium {
	background-position: -672px -256px;
}
.fmIconVolumeLow {
	background-position: -704px -256px;
}
.fmIconVolumeMute {
	background-position: -736px -256px;
}
.fmIconVolumeMute2 {
	background-position: -768px -256px;
}
.fmIconVolumeIncrease {
	background-position: -800px -256px;
}
.fmIconVolumeDecrease {
	background-position: -832px -256px;
}
.fmIconLoop {
	background-position: -864px -256px;
}
.fmIconLoop2 {
	background-position: -896px -256px;
}
.fmIconLoop3 {
	background-position: -928px -256px;
}
.fmIconShuffle {
	background-position: -960px -256px;
}
.fmIconArrowUpLeft {
	background-position: -992px -256px;
}
.fmIconArrowUp {
	background-position: 0 -288px;
}
.fmIconArrowUpRight {
	background-position: -32px -288px;
}
.fmIconArrowRight {
	background-position: -64px -288px;
}
.fmIconArrowDownRight {
	background-position: -96px -288px;
}
.fmIconArrowDown {
	background-position: -128px -288px;
}
.fmIconArrowDownLeft {
	background-position: -160px -288px;
}
.fmIconArrowLeft {
	background-position: -192px -288px;
}
.fmIconArrowUpLeft2 {
	background-position: -224px -288px;
}
.fmIconArrowUp2 {
	background-position: -256px -288px;
}
.fmIconArrowUpRight2 {
	background-position: -288px -288px;
}
.fmIconArrowRight2 {
	background-position: -320px -288px;
}
.fmIconArrowDownRight2 {
	background-position: -352px -288px;
}
.fmIconArrowDown2 {
	background-position: -384px -288px;
}
.fmIconArrowDownLeft2 {
	background-position: -416px -288px;
}
.fmIconArrowLeft2 {
	background-position: -448px -288px;
}
.fmIconArrowUpLeft3 {
	background-position: -480px -288px;
}
.fmIconArrowUp3 {
	background-position: -512px -288px;
}
.fmIconArrowUpRight3 {
	background-position: -544px -288px;
}
.fmIconArrowRight3 {
	background-position: -576px -288px;
}
.fmIconArrowDownRight3 {
	background-position: -608px -288px;
}
.fmIconArrowDown3 {
	background-position: -640px -288px;
}
.fmIconArrowDownLeft3 {
	background-position: -672px -288px;
}
.fmIconArrowLeft3 {
	background-position: -704px -288px;
}
.fmIconTab {
	background-position: -736px -288px;
}
.fmIconCheckboxChecked {
	background-position: -768px -288px;
}
.fmIconCheckboxUnchecked {
	background-position: -800px -288px;
}
.fmIconCheckboxPartial {
	background-position: -832px -288px;
}
.fmIconRadioChecked {
	background-position: -864px -288px;
}
.fmIconRadioUnchecked {
	background-position: -896px -288px;
}
.fmIconCrop {
	background-position: -928px -288px;
}
.fmIconScissors {
	background-position: -960px -288px;
}
.fmIconFilter {
	background-position: -992px -288px;
}
.fmIconFilter2 {
	background-position: 0 -320px;
}
.fmIconFont {
	background-position: -32px -320px;
}
.fmIconTextHeight {
	background-position: -64px -320px;
}
.fmIconTextWidth {
	background-position: -96px -320px;
}
.fmIconBold {
	background-position: -128px -320px;
}
.fmIconUnderline {
	background-position: -160px -320px;
}
.fmIconItalic {
	background-position: -192px -320px;
}
.fmIconStrikethrough {
	background-position: -224px -320px;
}
.fmIconOmega {
	background-position: -256px -320px;
}
.fmIconSigma {
	background-position: -288px -320px;
}
.fmIconTable {
	background-position: -320px -320px;
}
.fmIconTable2 {
	background-position: -352px -320px;
}
.fmIconInsertTemplate {
	background-position: -384px -320px;
}
.fmIconPilcrow {
	background-position: -416px -320px;
}
.fmIconLeftToRight {
	background-position: -448px -320px;
}
.fmIconRightToLeft {
	background-position: -480px -320px;
}
.fmIconParagraphLeft {
	background-position: -512px -320px;
}
.fmIconParagraphCenter {
	background-position: -544px -320px;
}
.fmIconParagraphRight {
	background-position: -576px -320px;
}
.fmIconParagraphJustify {
	background-position: -608px -320px;
}
.fmIconParagraphLeft2 {
	background-position: -640px -320px;
}
.fmIconParagraphCenter2 {
	background-position: -672px -320px;
}
.fmIconParagraphRight2 {
	background-position: -704px -320px;
}
.fmIconParagraphJustify2 {
	background-position: -736px -320px;
}
.fmIconIndentIncrease {
	background-position: -768px -320px;
}
.fmIconIndentDecrease {
	background-position: -800px -320px;
}
.fmIconNewTab {
	background-position: -832px -320px;
}
.fmIconEmbed {
	background-position: -864px -320px;
}
.fmIconCode {
	background-position: -896px -320px;
}
.fmIconConsole {
	background-position: -928px -320px;
}
.fmIconShare {
	background-position: -960px -320px;
}
.fmIconMail {
	background-position: -992px -320px;
}
.fmIconMail2 {
	background-position: 0 -352px;
}
.fmIconMail3 {
	background-position: -32px -352px;
}
.fmIconMail4 {
	background-position: -64px -352px;
}
.fmIconGoogle {
	background-position: -96px -352px;
}
.fmIconGooglePlus {
	background-position: -128px -352px;
}
.fmIconGooglePlus2 {
	background-position: -160px -352px;
}
.fmIconGooglePlus3 {
	background-position: -192px -352px;
}
.fmIconGooglePlus4 {
	background-position: -224px -352px;
}
.fmIconGoogleDrive {
	background-position: -256px -352px;
}
.fmIconFacebook {
	background-position: -288px -352px;
}
.fmIconFacebook2 {
	background-position: -320px -352px;
}
.fmIconFacebook3 {
	background-position: -352px -352px;
}
.fmIconInstagram {
	background-position: -384px -352px;
}
.fmIconTwitter {
	background-position: -416px -352px;
}
.fmIconTwitter2 {
	background-position: -448px -352px;
}
.fmIconTwitter3 {
	background-position: -480px -352px;
}
.fmIconFeed2 {
	background-position: -512px -352px;
}
.fmIconFeed3 {
	background-position: -544px -352px;
}
.fmIconFeed4 {
	background-position: -576px -352px;
}
.fmIconYoutube {
	background-position: -608px -352px;
}
.fmIconYoutube2 {
	background-position: -640px -352px;
}
.fmIconVimeo {
	background-position: -672px -352px;
	width: 17px;
}
.fmIconVimeo2 {
	background-position: -704px -352px;
}
.fmIconVimeo3 {
	background-position: -736px -352px;
}
.fmIconLanyrd {
	background-position: -768px -352px;
}
.fmIconFlickr {
	background-position: -800px -352px;
}
.fmIconFlickr2 {
	background-position: -832px -352px;
}
.fmIconFlickr3 {
	background-position: -864px -352px;
}
.fmIconFlickr4 {
	background-position: -896px -352px;
}
.fmIconPicassa {
	background-position: -928px -352px;
}
.fmIconPicassa2 {
	background-position: -960px -352px;
}
.fmIconDribbble {
	background-position: -992px -352px;
}
.fmIconDribbble2 {
	background-position: 0 -384px;
}
.fmIconDribbble3 {
	background-position: -32px -384px;
}
.fmIconForrst {
	background-position: -64px -384px;
}
.fmIconForrst2 {
	background-position: -96px -384px;
}
.fmIconDeviantart {
	background-position: -128px -384px;
}
.fmIconDeviantart2 {
	background-position: -160px -384px;
}
.fmIconSteam {
	background-position: -192px -384px;
	width: 17px;
}
.fmIconSteam2 {
	background-position: -224px -384px;
}
.fmIconGithub {
	background-position: -256px -384px;
}
.fmIconGithub2 {
	background-position: -288px -384px;
}
.fmIconGithub3 {
	background-position: -320px -384px;
}
.fmIconGithub4 {
	background-position: -352px -384px;
}
.fmIconGithub5 {
	background-position: -384px -384px;
}
.fmIconWordpress {
	background-position: -416px -384px;
}
.fmIconWordpress2 {
	background-position: -448px -384px;
}
.fmIconJoomla {
	background-position: -480px -384px;
}
.fmIconBlogger {
	background-position: -512px -384px;
}
.fmIconBlogger2 {
	background-position: -544px -384px;
}
.fmIconTumblr {
	background-position: -576px -384px;
}
.fmIconTumblr2 {
	background-position: -608px -384px;
}
.fmIconYahoo {
	background-position: -640px -384px;
}
.fmIconTux {
	background-position: -672px -384px;
	width: 17px;
	height: 17px;
}
.fmIconApple {
	background-position: -704px -384px;
}
.fmIconFinder {
	background-position: -736px -384px;
}
.fmIconAndroid {
	background-position: -768px -384px;
}
.fmIconWindows {
	background-position: -800px -384px;
}
.fmIconWindows8 {
	background-position: -832px -384px;
}
.fmIconSoundcloud {
	background-position: -864px -384px;
}
.fmIconSoundcloud2 {
	background-position: -896px -384px;
}
.fmIconSkype {
	background-position: -928px -384px;
}
.fmIconReddit {
	background-position: -960px -384px;
}
.fmIconLinkedin {
	background-position: -992px -384px;
}
.fmIconLastfm {
	background-position: 0 -416px;
}
.fmIconLastfm2 {
	background-position: -32px -416px;
}
.fmIconDelicious {
	background-position: -64px -416px;
}
.fmIconStumbleupon {
	background-position: -96px -416px;
}
.fmIconStumbleupon2 {
	background-position: -128px -416px;
}
.fmIconStackoverflow {
	background-position: -160px -416px;
}
.fmIconPinterest {
	background-position: -192px -416px;
}
.fmIconPinterest2 {
	background-position: -224px -416px;
}
.fmIconXing {
	background-position: -256px -416px;
}
.fmIconXing2 {
	background-position: -288px -416px;
}
.fmIconFlattr {
	background-position: -320px -416px;
}
.fmIconFoursquare {
	background-position: -352px -416px;
}
.fmIconFoursquare2 {
	background-position: -384px -416px;
}
.fmIconPaypal {
	background-position: -416px -416px;
}
.fmIconPaypal2 {
	background-position: -448px -416px;
}
.fmIconPaypal3 {
	background-position: -480px -416px;
}
.fmIconYelp {
	background-position: -512px -416px;
}
.fmIconLibreoffice {
	background-position: -544px -416px;
}
.fmIconFilePdf {
	background-position: -576px -416px;
}
.fmIconFileOpenoffice {
	background-position: -608px -416px;
}
.fmIconFileWord {
	background-position: -640px -416px;
}
.fmIconFileExcel {
	background-position: -672px -416px;
}
.fmIconFileZip {
	background-position: -704px -416px;
}
.fmIconFilePowerpoint {
	background-position: -736px -416px;
}
.fmIconFileXml {
	background-position: -768px -416px;
}
.fmIconFileCss {
	background-position: -800px -416px;
}
.fmIconHtml5 {
	background-position: -832px -416px;
}
.fmIconHtml52 {
	background-position: -864px -416px;
}
.fmIconCss3 {
	background-position: -896px -416px;
}
.fmIconChrome {
	background-position: -928px -416px;
}
.fmIconFirefox {
	background-position: -960px -416px;
	width: 17px;
}
.fmIconIE {
	background-position: -992px -416px;
}
.fmIconOpera {
	background-position: 0 -448px;
}
.fmIconSafari {
	background-position: -32px -448px;
}
.fmIconIcoMoon {
	background-position: -64px -448px;
}
.fmIconWarning2 {
	background-position: -96px -448px;
}
.fmIconCloud2 {
	background-position: -128px -448px;
}
.fmIconLocked {
	background-position: -160px -448px;
}
.fmIconInbox {
	background-position: -192px -448px;
}
.fmIconComment {
	background-position: -224px -448px;
}
.fmIconMic {
	background-position: -256px -448px;
}
.fmIconEnvelope {
	background-position: -288px -448px;
}
.fmIconBriefcase2 {
	background-position: -320px -448px;
}
.fmIconCart4 {
	background-position: -352px -448px;
}
.fmIconContrast2 {
	background-position: -384px -448px;
	width: 18px;
	height: 18px;
}
.fmIconClock3 {
	background-position: -416px -448px;
}
.fmIconUser5 {
	background-position: -448px -448px;
}
.fmIconCog3 {
	background-position: -480px -448px;
}
.fmIconMusic2 {
	background-position: -512px -448px;
}
.fmIconTwitter4 {
	background-position: -544px -448px;
}
.fmIconPencil3 {
	background-position: -576px -448px;
	width: 17px;
}
.fmIconFrame {
	background-position: -608px -448px;
}
.fmIconSwitch2 {
	background-position: -640px -448px;
}
.fmIconStar4 {
	background-position: -672px -448px;
	width: 17px;
	height: 17px;
}
.fmIconKey3 {
	background-position: -704px -448px;
}
.fmIconChart {
	background-position: -736px -448px;
}
.fmIconApple2 {
	background-position: -768px -448px;
}
.fmIconFile5 {
	background-position: -800px -448px;
}
.fmIconPlus2 {
	background-position: -832px -448px;
}
.fmIconMinus2 {
	background-position: -864px -448px;
}
.fmIconPicture {
	background-position: -896px -448px;
}
.fmIconFolder2 {
	background-position: -928px -448px;
}
.fmIconCamera3 {
	background-position: -960px -448px;
}
.fmIconSearch2 {
	background-position: -992px -448px;
}
.fmIconDribbble4 {
	background-position: 0 -480px;
}
.fmIconForrst3 {
	background-position: -32px -480px;
}
.fmIconFeed5 {
	background-position: -64px -480px;
}
.fmIconBlocked2 {
	background-position: -96px -480px;
	width: 18px;
	height: 18px;
}
.fmIconTarget2 {
	background-position: -128px -480px;
}
.fmIconPlay4 {
	background-position: -160px -480px;
}
.fmIconPause3 {
	background-position: -192px -480px;
}
.fmIconBug2 {
	background-position: -224px -480px;
}
.fmIconConsole2 {
	background-position: -256px -480px;
}
.fmIconFilm2 {
	background-position: -288px -480px;
}
.fmIconType {
	background-position: -320px -480px;
}
.fmIconHome4 {
	background-position: -352px -480px;
}
.fmIconEarth2 {
	background-position: -384px -480px;
}
.fmIconLocation3 {
	background-position: -416px -480px;
}
.fmIconInfo3 {
	background-position: -448px -480px;
}
.fmIconEye3 {
	background-position: -480px -480px;
}
.fmIconHeart3 {
	background-position: -512px -480px;
}
.fmIconBookmark2 {
	background-position: -544px -480px;
}
.fmIconWrench2 {
	background-position: -576px -480px;
}
.fmIconCalendar3 {
	background-position: -608px -480px;
}
.fmIconWindow {
	background-position: -640px -480px;
}
.fmIconMonitor {
	background-position: -672px -480px;
}
.fmIconMobile3 {
	background-position: -704px -480px;
}
.fmIconDroplet2 {
	background-position: -736px -480px;
}
.fmIconMouse {
	background-position: -768px -480px;
}
.fmIconRefresh {
	background-position: -800px -480px;
}
.fmIconLocation4 {
	background-position: -832px -480px;
}
.fmIconTag2 {
	background-position: -864px -480px;
}
.fmIconPhone2 {
	background-position: -896px -480px;
	width: 18px;
	height: 18px;
}
.fmIconStar5 {
	background-position: -928px -480px;
	width: 18px;
	height: 18px;
}
.fmIconPointer {
	background-position: -960px -480px;
}
.fmIconThumbsUp3 {
	background-position: -992px -480px;
}
.fmIconThumbsDown {
	background-position: 0 -512px;
}
.fmIconHeadphones2 {
	background-position: -32px -512px;
}
.fmIconMove {
	background-position: -64px -512px;
}
.fmIconCheckmark3 {
	background-position: -96px -512px;
}
.fmIconCancel {
	background-position: -128px -512px;
}
.fmIconSkype2 {
	background-position: -160px -512px;
}
.fmIconGift2 {
	background-position: -192px -512px;
}
.fmIconCone {
	background-position: -224px -512px;
}
.fmIconAlarm3 {
	background-position: -256px -512px;
}
.fmIconCoffee {
	background-position: -288px -512px;
}
.fmIconBasket {
	background-position: -320px -512px;
}
.fmIconFlag2 {
	background-position: -352px -512px;
}
.fmIconIpod {
	background-position: -384px -512px;
}
.fmIconTrashcan {
	background-position: -416px -512px;
}
.fmIconBolt {
	background-position: -448px -512px;
}
.fmIconAmpersand {
	background-position: -480px -512px;
}
.fmIconCompass2 {
	background-position: -512px -512px;
}
.fmIconList3 {
	background-position: -544px -512px;
}
.fmIconGrid {
	background-position: -576px -512px;
}
.fmIconVolume {
	background-position: -608px -512px;
}
.fmIconVolume2 {
	background-position: -640px -512px;
}
.fmIconStats2 {
	background-position: -672px -512px;
}
.fmIconTarget3 {
	background-position: -704px -512px;
}
.fmIconForward4 {
	background-position: -736px -512px;
}
.fmIconPaperclip {
	background-position: -768px -512px;
	height: 16px;
}
.fmIconKeyboard2 {
	background-position: -800px -512px;
}
.fmIconCrop2 {
	background-position: -832px -512px;
}
.fmIconFloppy {
	background-position: -864px -512px;
}
.fmIconFilter3 {
	background-position: -896px -512px;
}
.fmIconTrophy2 {
	background-position: -928px -512px;
}
.fmIconDiary {
	background-position: -960px -512px;
}
.fmIconAddressBook2 {
	background-position: -992px -512px;
}
.fmIconStop3 {
	background-position: 0 -544px;
}
.fmIconSmiley3 {
	background-position: -32px -544px;
}
.fmIconShit {
	background-position: -64px -544px;
}
.fmIconBookmark3 {
	background-position: -96px -544px;
}
.fmIconCamera4 {
	background-position: -128px -544px;
}
.fmIconLamp {
	background-position: -160px -544px;
}
.fmIconDisk2 {
	background-position: -192px -544px;
	width: 18px;
	height: 18px;
}
.fmIconButton {
	background-position: -224px -544px;
}
.fmIconDatabase {
	background-position: -256px -544px;
}
.fmIconCreditCard {
	background-position: -288px -544px;
}
.fmIconAtom {
	background-position: -320px -544px;
}
.fmIconWinsows {
	background-position: -352px -544px;
}
.fmIconTarget4 {
	background-position: -384px -544px;
}
.fmIconBattery {
	background-position: -416px -544px;
}
.fmIconCode2 {
	background-position: -448px -544px;
}
.fmIconSunrise {
	background-position: -480px -544px;
}
.fmIconSun {
	background-position: -512px -544px;
}
.fmIconMoon {
	background-position: -544px -544px;
}
.fmIconSun2 {
	background-position: -576px -544px;
}
.fmIconWindy {
	background-position: -608px -544px;
}
.fmIconWind {
	background-position: -640px -544px;
}
.fmIconSnowflake {
	background-position: -672px -544px;
}
.fmIconCloudy {
	background-position: -704px -544px;
}
.fmIconCloud3 {
	background-position: -736px -544px;
}
.fmIconWeather {
	background-position: -768px -544px;
}
.fmIconWeather2 {
	background-position: -800px -544px;
}
.fmIconWeather3 {
	background-position: -832px -544px;
}
.fmIconLines {
	background-position: -864px -544px;
}
.fmIconCloud4 {
	background-position: -896px -544px;
}
.fmIconLightning2 {
	background-position: -928px -544px;
}
.fmIconLightning3 {
	background-position: -960px -544px;
}
.fmIconRainy {
	background-position: -992px -544px;
}
.fmIconRainy2 {
	background-position: 0 -576px;
}
.fmIconWindy2 {
	background-position: -32px -576px;
}
.fmIconWindy3 {
	background-position: -64px -576px;
}
.fmIconSnowy {
	background-position: -96px -576px;
}
.fmIconSnowy2 {
	background-position: -128px -576px;
}
.fmIconSnowy3 {
	background-position: -160px -576px;
}
.fmIconWeather4 {
	background-position: -192px -576px;
}
.fmIconCloudy2 {
	background-position: -224px -576px;
}
.fmIconCloud5 {
	background-position: -256px -576px;
}
.fmIconLightning4 {
	background-position: -288px -576px;
}
.fmIconSun3 {
	background-position: -320px -576px;
}
.fmIconMoon2 {
	background-position: -352px -576px;
}
.fmIconCloudy3 {
	background-position: -384px -576px;
}
.fmIconCloud6 {
	background-position: -416px -576px;
}
.fmIconCloud7 {
	background-position: -448px -576px;
}
.fmIconLightning5 {
	background-position: -480px -576px;
}
.fmIconRainy3 {
	background-position: -512px -576px;
}
.fmIconRainy4 {
	background-position: -544px -576px;
}
.fmIconWindy4 {
	background-position: -576px -576px;
}
.fmIconWindy5 {
	background-position: -608px -576px;
}
.fmIconSnowy4 {
	background-position: -640px -576px;
}
.fmIconSnowy5 {
	background-position: -672px -576px;
}
.fmIconWeather5 {
	background-position: -704px -576px;
}
.fmIconCloudy4 {
	background-position: -736px -576px;
}
.fmIconLightning6 {
	background-position: -768px -576px;
}
.fmIconThermometer {
	background-position: -800px -576px;
}
.fmIconCompass3 {
	background-position: -832px -576px;
}
.fmIconNone {
	background-position: -864px -576px;
}
.fmIconCelsius {
	background-position: -896px -576px;
}
.fmIconFahrenheit {
	background-position: -928px -576px;
}
.fmIconChat {
	background-position: -960px -576px;
}
.fmIconChatAltStroke {
	background-position: -992px -576px;
}
.fmIconChatAltFill {
	background-position: 0 -608px;
}
.fmIconCommentAlt1Stroke {
	background-position: -32px -608px;
	width: 19px;
}
.fmIconCommentAlt1Fill {
	background-position: -64px -608px;
	width: 19px;
}
.fmIconCommentStroke {
	background-position: -96px -608px;
}
.fmIconCommentFill {
	background-position: -128px -608px;
}
.fmIconCommentAlt2Stroke {
	background-position: -160px -608px;
}
.fmIconCommentAlt2Fill {
	background-position: -192px -608px;
}
.fmIconCheckmark4 {
	background-position: -224px -608px;
}
.fmIconCheckAlt {
	background-position: -256px -608px;
}
.fmIconX {
	background-position: -288px -608px;
}
.fmIconXAltxAlt {
	background-position: -320px -608px;
}
.fmIconDenied {
	background-position: -352px -608px;
}
.fmIconCursor {
	background-position: -384px -608px;
}
.fmIconRss {
	background-position: -416px -608px;
}
.fmIconRssAlt {
	background-position: -448px -608px;
}
.fmIconWrench3 {
	background-position: -480px -608px;
}
.fmIconDial {
	background-position: -512px -608px;
}
.fmIconCog4 {
	background-position: -544px -608px;
}
.fmIconCalendar4 {
	background-position: -576px -608px;
}
.fmIconCalendarAltStroke {
	background-position: -608px -608px;
}
.fmIconCalendarAltFill {
	background-position: -640px -608px;
}
.fmIconShare2 {
	background-position: -672px -608px;
}
.fmIconMail5 {
	background-position: -704px -608px;
}
.fmIconHeartStroke {
	background-position: -736px -608px;
}
.fmIconHeartFill {
	background-position: -768px -608px;
}
.fmIconMovie {
	background-position: -800px -608px;
}
.fmIconDocumentAltStroke {
	background-position: -832px -608px;
}
.fmIconDocumentAltFill {
	background-position: -864px -608px;
}
.fmIconDocumentStroke {
	background-position: -896px -608px;
}
.fmIconDocumentFill {
	background-position: -928px -608px;
}
.fmIconPlus3 {
	background-position: -960px -608px;
}
.fmIconPlusAlt {
	background-position: -992px -608px;
}
.fmIconMinus3 {
	background-position: 0 -640px;
}
.fmIconMinusAlt {
	background-position: -32px -640px;
}
.fmIconPin {
	background-position: -64px -640px;
}
.fmIconLink2 {
	background-position: -96px -640px;
}
.fmIconBolt2 {
	background-position: -128px -640px;
}
.fmIconMove2 {
	background-position: -160px -640px;
}
.fmIconMoveAlt1 {
	background-position: -192px -640px;
}
.fmIconMoveAlt2 {
	background-position: -224px -640px;
}
.fmIconEqualizer2 {
	background-position: -256px -640px;
}
.fmIconAwardFill {
	background-position: -288px -640px;
}
.fmIconAwardStroke {
	background-position: -320px -640px;
}
.fmIconMagnifyingGlass {
	background-position: -352px -640px;
}
.fmIconTrashStroke {
	background-position: -384px -640px;
}
.fmIconTrashFill {
	background-position: -416px -640px;
}
.fmIconBeakerAlt {
	background-position: -448px -640px;
}
.fmIconBeaker {
	background-position: -480px -640px;
}
.fmIconKeyStroke {
	background-position: -512px -640px;
}
.fmIconKeyFill {
	background-position: -544px -640px;
}
.fmIconNewWindow {
	background-position: -576px -640px;
}
.fmIconLightbulb {
	background-position: -608px -640px;
}
.fmIconSpinAlt {
	background-position: -640px -640px;
}
.fmIconSpin {
	background-position: -672px -640px;
}
.fmIconCurvedArrow {
	background-position: -704px -640px;
}
.fmIconUndo3 {
	background-position: -736px -640px;
	height: 16px;
}
.fmIconReload {
	background-position: -768px -640px;
}
.fmIconReloadAlt {
	background-position: -800px -640px;
}
.fmIconLoop4 {
	background-position: -832px -640px;
}
.fmIconLoopAlt1 {
	background-position: -864px -640px;
}
.fmIconLoopAlt2 {
	background-position: -896px -640px;
}
.fmIconLoopAlt3 {
	background-position: -928px -640px;
}
.fmIconLoopAlt4 {
	background-position: -960px -640px;
}
.fmIconTransfer {
	background-position: -992px -640px;
}
.fmIconMoveVertical {
	background-position: 0 -672px;
}
.fmIconMoveVerticalAlt1 {
	background-position: -32px -672px;
}
.fmIconMoveVerticalAlt2 {
	background-position: -64px -672px;
}
.fmIconMoveHorizontal {
	background-position: -96px -672px;
}
.fmIconMoveHorizontalAlt1 {
	background-position: -128px -672px;
}
.fmIconMoveHorizontalAlt2 {
	background-position: -160px -672px;
}
.fmIconArrowLeft4 {
	background-position: -192px -672px;
}
.fmIconArrowLeftAlt1 {
	background-position: -224px -672px;
}
.fmIconArrowLeftAlt2 {
	background-position: -256px -672px;
}
.fmIconArrowRight4 {
	background-position: -288px -672px;
}
.fmIconArrowRightAlt1 {
	background-position: -320px -672px;
}
.fmIconArrowRightAlt2 {
	background-position: -352px -672px;
}
.fmIconArrowUp4 {
	background-position: -384px -672px;
}
.fmIconArrowUpAlt1 {
	background-position: -416px -672px;
}
.fmIconArrowUpAlt2 {
	background-position: -448px -672px;
}
.fmIconArrowDown4 {
	background-position: -480px -672px;
}
.fmIconArrowDownAlt1 {
	background-position: -512px -672px;
}
.fmIconArrowDownAlt2 {
	background-position: -544px -672px;
}
.fmIconCd {
	background-position: -576px -672px;
}
.fmIconSteeringWheel {
	background-position: -608px -672px;
}
.fmIconMicrophone {
	background-position: -640px -672px;
}
.fmIconHeadphones3 {
	background-position: -672px -672px;
}
.fmIconVolume3 {
	background-position: -704px -672px;
}
.fmIconVolumeMute3 {
	background-position: -736px -672px;
}
.fmIconPlay5 {
	background-position: -768px -672px;
}
.fmIconPause4 {
	background-position: -800px -672px;
}
.fmIconStop4 {
	background-position: -832px -672px;
}
.fmIconEject2 {
	background-position: -864px -672px;
}
.fmIconFirst2 {
	background-position: -896px -672px;
}
.fmIconLast2 {
	background-position: -928px -672px;
}
.fmIconPlayAlt {
	background-position: -960px -672px;
}
.fmIconFullscreenExit {
	background-position: -992px -672px;
}
.fmIconFullscreenExitAlt {
	background-position: 0 -704px;
}
.fmIconFullscreen {
	background-position: -32px -704px;
}
.fmIconFullscreenAlt {
	background-position: -64px -704px;
}
.fmIconIphone {
	background-position: -96px -704px;
}
.fmIconBatteryEmpty {
	background-position: -128px -704px;
}
.fmIconBatteryHalf {
	background-position: -160px -704px;
}
.fmIconBatteryFull {
	background-position: -192px -704px;
}
.fmIconBatteryCharging {
	background-position: -224px -704px;
}
.fmIconCompass4 {
	background-position: -256px -704px;
}
.fmIconBox {
	background-position: -288px -704px;
}
.fmIconFolderStroke {
	background-position: -320px -704px;
}
.fmIconFolderFill {
	background-position: -352px -704px;
}
.fmIconAt {
	background-position: -384px -704px;
}
.fmIconAmpersand2 {
	background-position: -416px -704px;
}
.fmIconInfo4 {
	background-position: -448px -704px;
}
.fmIconQuestionMark {
	background-position: -480px -704px;
}
.fmIconPilcrow2 {
	background-position: -512px -704px;
}
.fmIconHash {
	background-position: -544px -704px;
}
.fmIconLeftQuote {
	background-position: -576px -704px;
}
.fmIconRightQuote {
	background-position: -608px -704px;
}
.fmIconLeftQuoteAlt {
	background-position: -640px -704px;
}
.fmIconRightQuoteAlt {
	background-position: -672px -704px;
}
.fmIconArticle {
	background-position: -704px -704px;
}
.fmIconReadMore {
	background-position: -736px -704px;
}
.fmIconList4 {
	background-position: -768px -704px;
	width: 18px;
}
.fmIconListNested {
	background-position: -800px -704px;
	width: 18px;
}
.fmIconBook2 {
	background-position: -832px -704px;
}
.fmIconBookAlt {
	background-position: -864px -704px;
}
.fmIconBookAlt2 {
	background-position: -896px -704px;
}
.fmIconPen2 {
	background-position: -928px -704px;
}
.fmIconPenAltStroke {
	background-position: -960px -704px;
}
.fmIconPenAltFill {
	background-position: -992px -704px;
}
.fmIconPenAlt2 {
	background-position: 0 -736px;
}
.fmIconBrush {
	background-position: -32px -736px;
}
.fmIconBrushAlt {
	background-position: -64px -736px;
}
.fmIconEyedropper {
	background-position: -96px -736px;
}
.fmIconLayersAlt {
	background-position: -128px -736px;
}
.fmIconLayers {
	background-position: -160px -736px;
}
.fmIconImage3 {
	background-position: -192px -736px;
}
.fmIconCamera5 {
	background-position: -224px -736px;
}
.fmIconAperture {
	background-position: -256px -736px;
}
.fmIconApertureAlt {
	background-position: -288px -736px;
}
.fmIconChart2 {
	background-position: -320px -736px;
	width: 17px;
}
.fmIconChartAlt {
	background-position: -352px -736px;
}
.fmIconBars3 {
	background-position: -384px -736px;
}
.fmIconBarsAlt {
	background-position: -416px -736px;
}
.fmIconEye4 {
	background-position: -448px -736px;
}
.fmIconUser6 {
	background-position: -480px -736px;
}
.fmIconHome5 {
	background-position: -512px -736px;
}
.fmIconClock4 {
	background-position: -544px -736px;
}
.fmIconLockStroke {
	background-position: -576px -736px;
}
.fmIconLockFill {
	background-position: -608px -736px;
}
.fmIconUnlockStroke {
	background-position: -640px -736px;
}
.fmIconUnlockFill {
	background-position: -672px -736px;
}
.fmIconTagStroke {
	background-position: -704px -736px;
}
.fmIconTagFill {
	background-position: -736px -736px;
}
.fmIconSunStroke {
	background-position: -768px -736px;
}
.fmIconSunFill {
	background-position: -800px -736px;
}
.fmIconMoonStroke {
	background-position: -832px -736px;
}
.fmIconMoonFill {
	background-position: -864px -736px;
}
.fmIconCloud8 {
	background-position: -896px -736px;
}
.fmIconRain {
	background-position: -928px -736px;
}
.fmIconUmbrella {
	background-position: -960px -736px;
}
.fmIconStar6 {
	background-position: -992px -736px;
}
.fmIconMapPinStroke {
	background-position: 0 -768px;
}
.fmIconMapPinFill {
	background-position: -32px -768px;
}
.fmIconMapPinAlt {
	background-position: -64px -768px;
}
.fmIconTarget5 {
	background-position: -96px -768px;
}
.fmIconDownload4 {
	background-position: -128px -768px;
}
.fmIconUpload4 {
	background-position: -160px -768px;
}
.fmIconCloudDownload2 {
	background-position: -192px -768px;
}
.fmIconCloudUpload2 {
	background-position: -224px -768px;
}
.fmIconFork {
	background-position: -256px -768px;
}
.fmIconPaperclip2 {
	background-position: -288px -768px;
	height: 15px;
}

/*
.fmIconSuccess{
    background: url(img/fmIconSuccess.png) noRepeat 0 50%;
}

.fmIconHand{
    background: url(img/fmIconHand.png) noRepeat 0 50%;
}

.fmIconPin{
    background: url(img/fmIconPin.png) noRepeat 0 50%;
}

.fmIconTriangleRight{
    background: url(img/fmIconTriangleRight.png) noRepeat 0 50%;
}

.fmIconTriangleBottom{
    background: url(img/fmIconTriangleBottom.png) noRepeat 0 50%;
}

.fmIconTriangleLeft{
    background: url(img/fmIconTriangleLeft.png) noRepeat 0 50%;
}

.fmIconTriangleTop{
    background: url(img/fmIconTriangleTop.png) noRepeat 0 50%;
}

.fmIconTriangleRightCross{
    background: url(img/fmIconTriangleRightCross.png) noRepeat 0 50%;
}

.fmIconTriangleLeftCross{
    background: url(img/fmIconTriangleLeftCross.png) noRepeat 0 50%;
}

.fmIconTriangleBottomCross{
    background: url(img/fmIconTriangleBottomCross.png) noRepeat 0 50%;
}

.fmIconTriangleTopCross{
    background: url(img/fmIconTriangleRightCross.png) noRepeat 0 50%;
}


.fmIconTriangle2Right{
    background: url(img/fmIconTriangle2Right.png) noRepeat 0 50%;
}

.fmIconTriangle2Bottom{
    background: url(img/fmIconTriangle2Bottom.png) noRepeat 0 50%;
}

.fmIconTriangle2Left{
    background: url(img/fmIconTriangle2Left.png) noRepeat 0 50%;
}

.fmIconTriangle2Top{
    background: url(img/fmIconTriangle2Top.png) noRepeat 0 50%;
}

.fmIconArrowRight{
    background: url(img/fmIconArrowRight.png) noRepeat 0 50%;
}

.fmIconArrowBottom{
    background: url(img/fmIconArrowBottom.png) noRepeat 0 50%;
}

.fmIconArrowLeft{
    background: url(img/fmIconArrowLeft.png) noRepeat 0 50%;
}

.fmIconArrowTop{
    background: url(img/fmIconArrowTop.png) noRepeat 0 50%;
}

.fmIconPin1{
    background: url(img/fmIconPin1.png) noRepeat 0 50%;
}

.fmIconPin2{
    background: url(img/fmIconPin2.png) noRepeat 0 50%;
}

.fmIconPin3{
    background: url(img/fmIconPin3.png) noRepeat 0 50%;
}

.fmIconPin4{
    background: url(img/fmIconPin4.png) noRepeat 0 50%;
}

.fmIconPin5{
    background: url(img/fmIconPin5.png) noRepeat 0 50%;
}

.fmIconPin6{
    background: url(img/fmIconPin6.png) noRepeat 0 50%;
}

*/