/* 
    Document   : fm-lists
    Created on : 02.Oca.2013, 15:02:18
    Author     : alifatih
    Description: List Styles
*/

ul{
    margin: 0;
    padding: 0; 
}

ul li{
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 12px;
    font-weight: normal;    
    margin-bottom:3px; 
    padding: 0 5px 0 25px;
    list-style: none; 
}

ul.fmList li{
    background: url(img/list-default-icon.png) no-repeat 0 50%;
}
