/* 
    Document   : fm-response-messages
    Created on : 02.Oca.2013, 13:49:11
    Author     : alifatih
    Description: Response Message Box Styles
*/

.fm-response,.fm-response-success,.fm-response-warning,.fm-response-info,.fm-response-fail{
    width:auto;
    max-width: 500px;
    padding:30px;
    border:1px solid #CCC;
    font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;    
    background: #f2f2f2;
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dbdbdb));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%); 
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#dbdbdb 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#dbdbdb 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb',GradientType=0 );
}

.fm-response-success{    
    padding:30px 30px 30px 60px;
    border: 1px solid #6aa31a;
    background: url(img/response-success-icon.png) no-repeat  20px 50%, #f6ffea;
    background: url(img/response-success-icon.png) no-repeat  20px 50%, #f6ffea;
    background: url(img/response-success-icon.png) no-repeat  20px 50%, -moz-linear-gradient(top,  #f6ffea 0%, #c5ff75 100%);  
    background: url(img/response-success-icon.png) no-repeat  20px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6ffea), color-stop(100%,#c5ff75)); 
    background: url(img/response-success-icon.png) no-repeat  20px 50%, -webkit-linear-gradient(top,  #f6ffea 0%,#c5ff75 100%);  
    background: url(img/response-success-icon.png) no-repeat  20px 50%, -o-linear-gradient(top,  #f6ffea 0%,#c5ff75 100%); 
    background: url(img/response-success-icon.png) no-repeat  20px 50%, -ms-linear-gradient(top,  #f6ffea 0%,#c5ff75 100%); 
    background: url(img/response-success-icon.png) no-repeat  20px 50%, linear-gradient(to bottom,  #f6ffea 0%,#c5ff75 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ffea', endColorstr='#c5ff75',GradientType=0 );    
}

.fm-response-warning{
    padding:30px 30px 30px 60px;
    border:1px solid #FFB403;
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, #fcf8e8; 
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, -moz-linear-gradient(top,  #fcf8e8 0%, #feefb4 100%); 
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf8e8), color-stop(100%,#feefb4)); /* Chrome,Safari4+ */
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, -webkit-linear-gradient(top,  #fcf8e8 0%,#feefb4 100%); 
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, -o-linear-gradient(top,  #fcf8e8 0%,#feefb4 100%); 
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, -ms-linear-gradient(top,  #fcf8e8 0%,#feefb4 100%);
    background: url(img/response-warning-icon.png) no-repeat  20px 50%, linear-gradient(to bottom,  #fcf8e8 0%,#feefb4 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8e8', endColorstr='#feefb4',GradientType=0 );   
}


.fm-response-info{
    padding:30px 30px 30px 60px;
    border:1px solid #1475A7;
    background: url(img/response-info-icon.png) no-repeat  20px 50%,#e8f2f7; 
    background: url(img/response-info-icon.png) no-repeat  20px 50%,-moz-linear-gradient(top,  #e8f2f7 0%, #bee5f8 100%); 
    background: url(img/response-info-icon.png) no-repeat  20px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8f2f7), color-stop(100%,#bee5f8)); /* Chrome,Safari4+ */
    background: url(img/response-info-icon.png) no-repeat  20px 50%,-webkit-linear-gradient(top,  #e8f2f7 0%,#bee5f8 100%);
    background: url(img/response-info-icon.png) no-repeat  20px 50%,-o-linear-gradient(top,  #e8f2f7 0%,#bee5f8 100%);
    background: url(img/response-info-icon.png) no-repeat  20px 50%,-ms-linear-gradient(top,  #e8f2f7 0%,#bee5f8 100%); 
    background: url(img/response-info-icon.png) no-repeat  20px 50%,linear-gradient(to bottom,  #e8f2f7 0%,#bee5f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f2f7', endColorstr='#bee5f8',GradientType=0 ); 
}

.fm-response-fail{
    padding:30px 30px 30px 60px;
    border:1px solid #A41919;
    background: url(img/response-fail-icon.png) no-repeat  20px 50%, #ffefef; 
    background: url(img/response-fail-icon.png) no-repeat  20px 50%,-moz-linear-gradient(top,  #ffefef 0%, #ffa0a0 100%); 
    background: url(img/response-fail-icon.png) no-repeat  20px 50%,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffefef), color-stop(100%,#ffa0a0)); /* Chrome,Safari4+ */
    background: url(img/response-fail-icon.png) no-repeat  20px 50%,-webkit-linear-gradient(top,  #ffefef 0%,#ffa0a0 100%); 
    background: url(img/response-fail-icon.png) no-repeat  20px 50%,-o-linear-gradient(top,  #ffefef 0%,#ffa0a0 100%); 
    background: url(img/response-fail-icon.png) no-repeat  20px 50%,-ms-linear-gradient(top,  #ffefef 0%,#ffa0a0 100%); 
    background: url(img/response-fail-icon.png) no-repeat  20px 50%,linear-gradient(to bottom,  #ffefef 0%,#ffa0a0 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefef', endColorstr='#ffa0a0',GradientType=0 );
}